*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}


body{
width:100%;
height:100%;
background-color:blue;
margin:0px;
padding:0px;
position:;
}


div#corpo{
	width:98%;
	margin:0px 15px;
	padding:0px;
	background-image:url('img/img3.jpg');
	opacity:0.9;
	position:;
}


header{
	width:98%;
	height:250px;
    background-color:white;
	opacity:1.0;
	position:relative;
}
#cabecalho{
	width:100%;
	height:250px;
    background-image:url('img/img1.jpg');
	opacity:0.5;
	position:;
}

#h1cabecalho{
	margin-left:50px;
	font-size:50px;
	color:back;
	font-family:;
}

#h2cabecalho{
	margin:0px 40px;
	font-size:40px;
	color:back;
	font-family:;
}

#h3cabecalho{
	margin: 10px 30px;
	font-size:40px;
	color:back;
	font-family:;
}

#h4cabecalho{
	margin:50px 90px;
	font-size:30px;
	color:back;
	font-family:;
}


#parte1{
	width:100%;
	margin:10px 0px;
	height:200px;
	background-image:url('img/img2.jpg');
	position:relative;
	opacity:0.9;
}

#parte1-h1-1{
	margin:10px 200px;
	font-size:50px;
} 


#secao1{
	margin:10px 0px;
	width:98%;
	position:relative;
	background-color:green;
	opacity:0.8;
}

#secao1-a1{
	font-size:50px;
	margin:;
}

#secao1-h1{
	margin:10px 20px;
	font-size:50px;
}


#secao2{
	margin:10px 0px;
	width:98%;
	position:relative;
	background-color:green;
	opacity:0.8;
}
#secao2-a1{
	font-size:50px;
	margin:0px 10px;
}
#secao2-p1{
	margin:10px 50px;
	font-size:30px;
}


#parte2{
	width:98%;
	margin:10px 0px;
	position:relative;
}


#parte2-cabecalho{
	width:100%;
	height:100px;
    background-image:url('img/img1.jpg');
	opacity:0.8;
	margin:0px 0px 130px;
	position:relative;
}

#parte2-cabecalho-h1{
	margin:0px 40px;
}

#parte2-cabecalho-h2{
	margin:30px 45px;
}

#tabela{
	margin:-120px 10px;
}
.th{
	background-color:purple;
	opacity:0.9;
}
.thp{
	margin:20px 0px;
	font-size:50px;
}

.td{
 background-color:yellow;
}
.tdp{
	 background-color:red;
	 margin:0px 2px;
}
.tdp1{
	background-color:yellow;
	margin:0px 2px;
}


#parte3{
	
}


footer{
	margin:110px 0px;
	width:98%;
	position:absolute;
	background-color:purple;
	height:100px;
}
#footer-p{
	margin:0px 50px;
}
#footer-p1{
	margin:20px 50px;
}